:root{
--header-hover-color: #94CFFF;
--header-text-color: #FFF;
--button-color: #0B0E66;
--button-text-color: #26C7EA;
--border-color: #000;
--subtitle-color: #0A3853;
--navi-text-color: #141414;
}

.container{
    width: 1056px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    outline: 1px solid red;
}

body{
    font-family: Inter;
}

.header{
    background-image:linear-gradient(rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../images/bgh.png);
    border-bottom: 3px solid var(--header-text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 39px;
    padding-bottom: 39px;
}

.header-logo{
    width: 186px;
    height: 72px;
}

.header-link{
    color: var(--header-text-color);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
}

.header-link:hover{
    color: var(--header-hover-color);
    font-weight: 600;
}

.header-btn{
    width: 141px;
    height: 41.694px;
    color: var(--button-text-color);
    font-family: HeadlandOne;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    background-image: url(../images/button.webp);
    border: none;
}

.header-text{
    color: var(--header-text-color);
    font-family: "Hammersmith One";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

.hero{
    background-image: url(../images/avatar.png);
    background-repeat: no-repeat;
    padding-top: 180px;
    padding-bottom: 179px;
}

.hero-text{
    width: 298px;
    color: var(--header-text-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.hero-img{
    width: 152px;
    height: 40px;
}

.hero-tex{
    width: 376px;
    height: 123px;
    color: var(--header-text-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.hero-btn{
    width: 199px;
    color: var(--button-text-color);
    font-family: HeadlandOne;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    width: 260px;
    height: 80px;
    border-radius: 45px 0px;
    border: 3px solid var(--button-text-color);
    background: var(--button-color);
}

.hero-foto{
    width: 30px;
    height: 30px;
    fill: var(--header-text-color);
}

.bkt{
    padding-top: 75px;
    padding-bottom: 10px;
}

.bkt-text{
    color: var(--subtitle-color);
    font-size: 36px;
    font-weight: 400;
    line-height: 1.22;
}

.bkt-cite{
    color: var(--border-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.20;
}

.bkt-img{
    width: 400px;
    height: 120px; 
}

.trailer{
    background-image: url(../images/character.webp);
    background-repeat: no-repeat;
    padding-top: 330px;
    padding-bottom: 331px;
    text-align: center;
}

.trailer-btn{
    color: var(--button-text-color);
    font-family: HeadlandOne;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    width: 260px;
    height: 80px;
    border-radius: 45px 0px;
    border: 3px solid var(--button-text-color);
    background: var(--button-color);
}

.navi{
    background-image: url(../images/mountains.png);
    background-repeat: no-repeat;
    padding-top: 58px;
    padding-bottom: 57px;
}

.navi-subtitle{
    color: var(--navi-text-color);
    font-family: HeadlandOne;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25;
}

.navi-text{
    color: var(--navi-text-color);
    font-family: HeadlandOne;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.navi-img{
    width: 152px;
    height: 40px;
}

.footer{
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer-logo{
    width: 183px;
    height: 70px;
}

.footer-br{
    width: 2px;
    height: 153px;
    background: var(--header-text-color);
}

.footer-item{
    color: var(--header-text-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.footer-text{
    color: var(--header-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
}